extends ../_shared/pages

block content
	include ../_shared/breadcrumb

	h4= title

	//- div that we want to load our search results into by search-results.js
	//- statistics page - https://swiftype.com/engines/fortuna-al/overview
	#search-results
