@import 'colors'

// ===========================


.column.textpage
	font-family: 'Gill Sans', sans-serif
	line-height: 1.5rem
	color: rgba(255, 255, 255, 0.9)

	ul, li
		margin-left: -1.2rem
		list-style: none

	h4
		color: #E9CE4D
		font-size: 1.1rem
		text-transform: uppercase
		font-weight: 400
		border-left: 3px solid $yellow
		padding-left: 10px
		margin-top: 45px

	a
		color: rgba(255, 255, 255, 0.9)
		font-size: 1.01rem


