
/*=================================
	главная страница,
	вступительный текст
===================================*/

.graybody .page-content
	padding-top: 180px

	font-family: 'Gill Sans', sans-serif
	font-size: 1.2rem
	font-weight: 100
	line-height: 1.5rem
	color: #fff

	/*====================================
		текст на затемненном прозрачном фоне
	======================================*/
	p
		font-size: 1.2rem
		font-weight: 100
		line-height: 1.5rem
		color: #fff
		text-align: justify

		background-color: rgba(106,83,104,0.7)
		padding: 30px
		border-radius: 6px
		line-height: 1.4rem
		font-weight: 100

	a
		color: #fff
		font-size: 1.2rem
		font-family: 'Gill Sans', sans-serif
		text-decoration: underline
		font-style: italic

	h4
		padding-top: 5px
		font-size: 1.4rem
		color: rgba(233,206,77,0.8)
		font-weight: 300
		text-decoration: underline

.graybody #footer
	background-color: rgba(106,83,104,0.2)
	// background rgba (0,0,0, .9)

	p
		color: #fff
		opacity: 1

