
.ui.grid.footer#footer( data-swiftype-index='false' )

	.row
		.ui.inverted.divider

	.thirteen.wide.column.footer
		p #{copyright}
	.one.wide.column.footer
		p.tel phone:
		p.tel e-mail:

	.two.wide.column.footer
		p #{phone}
		p #{email}

