#mainmenu.ui.main.menu( data-swiftype-index='false' )
	.ui.page.grid
		.ui.two.wide.column

		.ui.two.wide.column
			a(href="/").item
				i.large.home.icon

		.ui.two.wide.column
			a(href="/articles/").item Articles

		.ui.two.wide.column
			a(href="/contacts/").item Contacts

		.ui.four.wide.column.search
			form#search-form
				input#search-query( type="text" placeholder="search..." )


